@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.Registration.RegistrationViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Utilities;
@using Telerik.Sitefinity.Services;

@*Add scripts and stylesheets*@
@Html.Script(ScriptRef.JQuery, "top", false)
@Html.Script("//ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js", "top", false)
@Html.Script("//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js", "top", false)

<div class="@Model.CssClass">
    <div class="row align-middle">
        <div class="columns">
            <h1>@Html.Resource("Registration")</h1>
            </div>
        <div class="columns text-right">
            <span>Already registered? <a href="@Model.LoginPageUrl" class="button small secondary">@Html.Resource("BackToLogin")</a></span>
        </div>
    </div>
    @if ((Request.QueryString["ShowActivationMsg"] == "true") || (ViewBag.ShowActivationMsg is bool && ViewBag.ShowActivationMsg))
            {
        <div class="row">
            <div class="columns">
                <div class="callout primary">
                    <h3>
                        @Html.Resource("VisitYourEmail")
                    </h3>

                    <p>@string.Format(Html.Resource("ActivationLinkHasBeenSent"), Model.Email)</p>
                    <a href="javascript:void(0)" data-sf-role="sendAgainLink">@Html.Resource("SendAgain")</a>

                    <div data-sf-role="confirmationResendInfo" style="display:none;">
                        @string.Format(Html.Resource("ActivationLinkHasBeenSentAgain"), Model.Email)
                        <a href="javascript:void(0)" data-sf-role="sendAgainLink">@Html.Resource("SendAgain")</a>
                    </div>

                    <input type="hidden" data-sf-role="sf-resend-confirmation-endpoint-url" value="@Url.Action("ResendConfirmationEmail", new { email = Model.Email})" />
                </div>
            </div>
        </div>
    }
    else if ((Request.QueryString["ShowSuccessfulRegistrationMsg"] == "true") ||
    (ViewBag.ShowSuccessfulRegistrationMsg is bool && ViewBag.ShowSuccessfulRegistrationMsg))
    {
        <div class="row">
            <div class="columns">
                <h3>@Html.Resource("ThankYou")</h3>
                <p>@Html.Resource("DefaultSuccessfulRegistrationMessage")</p>
            </div>
        </div>

    }
    else
    {
        using (Html.BeginFormSitefinity(true))
        {
            <div class="row">
                <div class="columns small-12 medium-6">
                    <h3>Register</h3>
                    @Html.ValidationSummary(true)
                    @ViewBag.Error
                    @Html.HiddenFor(m => m.RequiresQuestionAndAnswer)
                    @ViewBag.Error
                    
                    <div class="row">
                        <div class="columns small-12 medium-6">
                            <label>
                                @Html.Resource("FirstName")
                                @Html.TextBox("Profile[FirstName]")
                            </label>
                        </div>
                        <div class="columns small-12 medium-6">
                            <label>
                                @Html.Resource("LastName")
                                @Html.TextBox("Profile[LastName]")
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label>
                                @Html.Resource("Email")
                                @Html.TextBoxFor(m => m.Email, new { type = "email" })
                            </label>
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label>
                                @Html.Resource("Password")
                                @Html.PasswordFor(m => m.Password)
                            </label>
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label>
                                @Html.Resource("ReTypePassword")
                                @Html.PasswordFor(m => m.ReTypePassword)
                            </label>
                            @Html.ValidationMessageFor(m => m.ReTypePassword)
                        </div>
                    </div>
                    @if (Model.RequiresQuestionAndAnswer)
                    {
                        <div class="row">
                            <div class="columns">
                                <label>
                                    @Html.Resource("Question")
                                    @Html.TextBoxFor(m => m.Question)
                                </label>
                                @Html.ValidationMessageFor(m => m.Question)
                            </div>
                        </div>
                        <div class="row">
                            <div class="columns">
                                <label>
                                    @Html.Resource("Answer")
                                    @Html.TextBoxFor(m => m.Answer)
                                </label>
                                @Html.ValidationMessageFor(m => m.Answer)
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="columns">
                            @if (SystemManager.IsDesignMode && !SystemManager.IsPreviewMode)
                            {
                                <input type="button" class="button" value="@Html.Resource("Register")" />
                            }
                            else
                            {
                                <input type="submit" class="button" value="@Html.Resource("Register")" />
                            }
                        </div>
                    </div>
                </div>
                @if (Model.ExternalProviders != null && Model.ExternalProviders.Count() > 0)
                {
                    <div class="columns small-12 medium-6">
                        <h3>@Html.Resource("ConnectWith")</h3>
                        @foreach (var provider in Model.ExternalProviders)
                        {
                            @Html.ActionLink(provider.Key, "LoginExternalProvider", new { model = provider.Key }, new { @class = String.Format("button expanded {0}", provider.Value) })
                        }
                    </div>
                }
            </div>
        }
    }
</div>

@Html.Script(Url.WidgetContent("Mvc/Scripts/Registration/registration-form.js"), "bottom", false)

